{% extends 'WeddingManageBundle:Shared:layout.html.twig' %}

{% block content %}
    <br><br>
    <legend>
        <h3 class="wedding">The Honeymoon</h3>
    </legend>
    <div class="row">
        <div class="col-sm-8">
            <img src="{{ asset('bundles/weddingmanage/images/fort-myers-beach-marina-aerial2.jpg') }}" style="max-width: 100%;">
            <br><br>
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{ asset('bundles/weddingmanage/images/FortMyersBeachFLHP.jpg') }}" style="max-width: 100%;">
                </div>
                <div class="col-sm-6">
                    <img src="{{ asset('bundles/weddingmanage/images/disney-logo.png') }}" style="max-width: 100%;">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="{{ asset('bundles/weddingmanage/images/CinderellaCastleFireworks1.jpg') }}" style="max-width: 100%;">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ asset('bundles/weddingmanage/images/fort-myers-fl.jpg') }}" style="max-width: 100%; min-width: 100%;">
            <br><br>
        </div>
        <div class="col-sm-7">
            <img src="{{ asset('bundles/weddingmanage/images/walt-disney-world.jpg') }}" style="max-width: 100%; min-width: 100%;">
        </div>
    </div>
    <br><br>
    {% include 'WeddingManageBundle:Shared:footer.html.twig' %}
{% endblock %}
